* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  border: 2px solid #000;
  width: 825px;
  margin: 15px auto;
  position: relative;
}
.product-img {
  float: left;
  margin-right: 40px;
  height: 250px;
}

h2 {
  background-color: #eee;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 10px;
}
/* product information */
.product-info {
  /*width for each of info and details -> (825 -8 - 250 - 80) /2-> 243.5*/
  width: 243px;
  float: left;
  margin-right: 40px;
  margin-top: 20px;
}

.price {
  font-size: 24px;
  float: left;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #aaa;
  margin-bottom: 20px;
  float: right;
  margin-top: 8px;
}

/* more-info link */
.more-info:link,
.more-info:visited {
  color: black;
  display: inline-block;
  margin-bottom: 30px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* details */
.product-details {
  width: 243px;
  float: left;
  margin-top: 20px;
}

.details-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.details {
  list-style: square;
  margin-left: 20px;
}

.details li {
  margin-bottom: 10px;
}
/* button */
button {
  background-color: black;
  border: none;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border-top: 2px solid #000;
}

button:hover {
  background-color: white;
  color: black;
}

/* challenge 3 */

/* 
MINE
h2 {
  position: relative;
}

h2::before {
  content: "SALE";
  font-size: 14px;
  background-color: #9e0000;
  color: white;

  display: inline-block;
  padding: 3px 15px;

  position: absolute;
  top: -30%;
  left: -4%;
}

.color-container {
  display: block;
  margin-top: 25px;
}
.color {
  display: inline-block;
  background-color: black;
  width: 23px;
  height: 23px;
  margin-right: 15px;
}

.black {
  background-color: #000;
}

.blue {
  background-color: #0045ae;
}

.red {
  background-color: #9e0000;
}

.green {
  background-color: #00ae45;
}

.yellow {
  background-color: #fafa00;
}

.brown {
  background-color: #382a12;
} */

/* Jonas */

.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 15px;
  display: inline-block;
  /* width: 50px;
  text-align: center; */
  position: absolute; /* body position to absolute */
  top: -16px;
  left: -37px;
  letter-spacing: 2px;
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
}

.blue {
  background-color: #2f6ee2;
}
.red {
  background-color: #ec2f2f;
}
.yellow {
  background-color: #f0bf1e;
}
.green {
  background-color: #90cc20;
}
.brown {
  background-color: #885214;
}

/* more-info -> inline block + margin */

/* sec4-1 */
/* mine */
/* .product-img{
  float: left;
  width: 240px;
}

.product-info {
  float: left;
  width: 240px;
  margin: 30px 40px;
}

.product-details {
  float: right;
  width: 240px;
}

.price {
  float: left;
  width: 120px;
}
.shipping {
  float: right;
  width: 120px;
  margin-top: 10px;
}
 */

/* jonas */
/* price - float left , shipping float right */
/* use description to clear */
.product-description {
  clear: both;
  margin-bottom: 10px;
}

/* calculate width -> 825 - 250(img) - 8(border) - 80(margins between divs inside) ->
each container = width / 2  = 243.5px */
/* float img + each container to left */
/* set margins and padding */

/* another way -> use clearfix */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
